{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{%  static '/css/newbar.css' %}" rel="stylesheet">
    <link href="{% static '/js/main.js' %}" rel="script">
    <link href="{% static '/js/newbar.js' %}" rel="script">

</head>
<body>


<script src="{% static '/js/824f90b62c.js' %}"></script>
<!-- Contenedor -->
<div class="backgroud_q">
<div id="accordion" class="accordion">
    <ul id="accordion">
        <li><div class="logo1"><img src="{% static '/jpg/1.PNG' %}"><h1></h1></div></li>

        <li>
            <div class="link"><i class="fa fa-home" style="color: #bcdfeb"></i><a href="{% url 'index' %}">Главная страница</a></div>
        </li>
    <li>
        <div class="link"><i class="fa fa-database" style="color: #bcdfeb"></i>Инфраструктура\загрузка установка компонентов<i class="fa fa-chevron-down" style="color: #bcdfeb"></i></div>
        <ul class="submenu">
            <li><a href="{% url 'add_serv' %}">Добавить сервер</a></li>
        <li><a href="{% url 'upload' %}">загрузить пакеты</a></li>
            <li><a href="{% url 'ls' %}">ls</a></li>
            <li><a href="{% url 'files' %}">FileNames</a></li>
    </ul>
  </li>
  <li>
    <div class="link"><i class="fa fa-server" style="color: #bcdfeb"></i>Сервера<i class="fa fa-chevron-down" style="color: #bcdfeb"></i></div>
    <ul class="submenu">
      <li><a href="#">#</a></li>
        <li><a href="#">экспорт данных</a></li>
      <li><a href="#">Список серверов</a></li>
      <li><a href="#">Управление службами</a></li>
        <li><a href="#">Сводка по времени работы</a></li>

    </ul>
  </li>
  <li>
    <div class="link"><i class="fa fa-cogs" style = "color: #bcdfeb"></i>Настройки<i class="fa fa-chevron-down" style="color: #bcdfeb"></i></div>
    <ul class="submenu">
      <li><a href="#">Logs</a></li>
    </ul>
  </li>
  <li>
    <div class="link"><i class="fa fa-user" style="color: #bcdfeb"></i>Профиль<i class="fa fa-chevron-down" style="color: #bcdfeb"></i></div>
    <ul class="submenu">

      <li><a href="/admin/">Админка</a></li>
      <li><a href="#">Смена пароля</a></li>
      <li><a href="#">Выход</a></li>
    </ul>
  </li>

</ul>
    </div>
    </div>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/newbar.js' %}"></script>

</body>
</html>